body {
	font-family: "Open Sans",
				"lucida grande",
				"Segoe UI",
				arial,
				verdana,
				"lucida sans unicode",
				tahoma,
				sans-serif;
	font-size: 14px;
}

/* list.html */
.column--left {
	margin-left:10%;
	float:left;
	width:15%;
}

.column--right {
	margin-right:10%;
	float:left;
	width:65%;
}

.column--left__link-container {
	margin-top: 45px;
}

.column--right__header {
	margin-top: 60px;
	margin-bottom: 45px;
}

.column--right__header p {
	font-size: 20px;
}

.column--right__files table {
	width: 100%;
	border-collapse: collapse;
	table-layout:fixed;
}

table tr {
	text-align: left;
}

.column--right__files th {
	text-align: left;
	font-weight: normal;
	border-bottom: 2px solid #e5e5e5;
	padding-bottom: 10px;
}

.column--right__files td {
	padding-top: 10px;
	padding-bottom: 10px;
	border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
}

.logo {
	width: 55px;
	height: 55px;
}

a:link {
    text-decoration: none;
    color: #000000;
}

a:visited {
    text-decoration: none;
    color: #000000;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

.column--right__files th a:link {
    text-decoration: none;
    color: #7b8994;
}

.column--right__files th a:visited {
    text-decoration: none;
    color: #7b8994;
}

.column--right__files th a:hover {
    text-decoration: underline;
}

.column--right__files th a:active {
    text-decoration: underline;
}

.column--right__files__file--unselected:hover {
	background-color: #e3f2ff;
}

.column--right__files__file--selected {
	background-color: #95CEFE;
}

button {
	margin-right: 10px;
	padding: 7px 15px;
	border-radius: 5px;
	float:right;
	outline: 0;
	border: 1.5px solid #007ee5;
	font-weight: bold;
	font-size: 12px;
	cursor: pointer;
}

.button--primary {
	color: #FFFFFF;
	background-color: #007ee5;
	margin-top: 10px;
	margin-bottom: 10px;
}


.button--secondary {
	color: #007ee5;
	background-color: white;
}

.button--secondary:active {
	background-color: #e3f2ff;
}

.icon {
	vertical-align:middle;
}

.icon--list {
	margin-left: 5px;
	margin-right: 5px;
	max-width: 32px;
	height: 32px;
}

.title-text {
	margin-left: 10px;
}

/* view.html */
.view {
	height: 100%;
	width: 100%;
	overflow: hidden;
}

.view__header {
	position:fixed;
  	top: 0;
   	left: 0;
	width: 100%;
	height: 50px;
	border-bottom: 1px solid #e5e5e5;
}

.view__header button {
	margin-top: 10px;
}

.icon--view {
	margin-left: 10px;
	max-width: 25px;
	max-height: 32px;
}

.view__title {
	padding-left: 10px;
	line-height: 50px;
}

.view__body {
	position: fixed;
	left: 0;
	top: 51px; /* height of view__header + view_header's 1px border */
	width: 100%;
	height: 100%;
}

.close {
	float: right;
	line-height: 50px;
	padding: 0px 20px 0px 5px;
}

.close__text {
	color: #7b8994;
}

.close:active {
	text-decoration: none;
}

.close:hover {
	text-decoration: none;
}

.view__body__column {
	height: 100%;
}

.view__body__column--left {
	float: left;
	width: 75%;
	border-right: 1px solid #e5e5e5;
}

.view__body__column--right {
	margin-left: 75%;
}

.view__body__column__view--text {
	font-family: monospace;
	font-size: 12px;
	padding: 10px;
	white-space: pre-wrap;
    word-wrap: break-word;
}

.view__body__column__view--image {
	background-color: #f6f9fc;
	height: 100%;
	text-align: center;
	position: relative;
}

.view__body__column__view--image__helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.view__body__column__view--image__image {
	max-width: 80%;
	max-height: 80%;
	vertical-align: middle;
	box-shadow: 0 1px 3px;
	border: 1px solid #d0d4d9;
}

.direction-caret-container {
	position: absolute;
	height: 100%;
	top: 0px;
	width: 36px;
	text-align: center;
	font-size: 18px;
	color: #7b8994;
}

.direction-caret-container--left {
	left: 0;
}

.direction-caret-container--right {
	right: 0;
}

.direction-caret {
	top: 50%;
	position: relative;
	cursor: pointer;
}

.direction-caret a:active {
	text-decoration: none;
}

.direction-caret a:hover {
	text-decoration: none;
}