body {
	font-family: "Open Sans",
				"lucida grande",
				"Segoe UI",
				arial,
				verdana,
				"lucida sans unicode",
				tahoma,
				sans-serif;
	font-size: 14px;
}

button {
	margin-right: 10px;
	padding: 7px 15px;
	border-radius: 5px;
	float:right;
	outline: 0;
	border: 1.5px solid #007ee5;
	font-weight: bold;
	font-size: 12px;
	cursor: pointer;
}

/* list.html */
.links-column {
	margin-left:10%;
	float:left;
	width:15%;
}

.list-column {
	margin-right:10%;
	float:left;
	width:65%;
}

.links-column__container {
	margin-top: 45px;
}

.list-column__header {
	margin-top: 60px;
	margin-bottom: 45px;
	font-size: 20px;
}

.list-column__files table {
	width: 100%;
	border-collapse: collapse;
	table-layout:fixed;
}

tr {
	text-align: left;
}

th {
	color: #7b8994;
}

.list-column__files th {
	text-align: left;
	font-weight: normal;
	border-bottom: 2px solid #e5e5e5;
	padding-bottom: 10px;
}

.list-column__files td {
	padding: 10px 0px;
	border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
}

.dropbox-logo {
	width: 55px;
	height: 55px;
}

td a:link {
    text-decoration: none;
    color: #000000;
}

td a:visited {
    text-decoration: none;
    color: #000000;
}

table a:hover {
    text-decoration: underline;
}

table a:active {
    text-decoration: underline;
}

.list-column__files__unselected-file:hover {
	background-color: #e3f2ff;
}

.list-column__files__selected-file {
	background-color: #95CEFE;
}

.button--primary {
	color: #FFFFFF;
	background-color: #007ee5;
	margin: 0px 10px;
}

.button--secondary {
	color: #007ee5;
	background-color: #FFFFFF;
}

.button--secondary:active {
	background-color: #e3f2ff;
}

.icon {
	vertical-align:middle;
}

.icon--list {
	margin: 0px 5px;
	max-width: 32px;
	height: 32px;
}

.title-text {
	margin-left: 10px;
}

/* view.html */
.view {
	height: 100%;
	width: 100%;
}

.view__header {
	position:fixed;
  	top: 0;
   	left: 0;
	width: 100%;
	height: 50px;
	border-bottom: 1px solid #e5e5e5;
}

.view__header button {
	margin-top: 10px;
}

.icon--view {
	margin-left: 10px;
	max-width: 25px;
	max-height: 32px;
}

.view__title {
	padding-left: 10px;
	line-height: 50px;
}

.view__body {
	position: fixed;
	left: 0;
	top: 51px; /* height of view__header + view_header's 1px border */
	width: 100%;
	height: 100%;
}

.close {
	float: right;
	line-height: 50px;
	padding: 0px 20px 0px 5px;
	color: #7b8994;
}

.view__body {
	height: 100%;
}

.view__body__text-container {
	height: 100%;
	font-family: monospace;
	font-size: 12px;
	padding: 10px;
	white-space: pre-wrap;
    word-wrap: break-word;
    overflow-y: auto;
}

.view__body__image-container {
	background-color: #f6f9fc;
	height: 100%;
	text-align: center;
	position: relative;
}

.view__body__image-container__helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.view__body__image-container__image {
	max-width: 90%;
	max-height: 90%;
	vertical-align: middle;
	box-shadow: 0 1px 3px;
	border: 1px solid #d0d4d9;
}

.direction-caret-container {
	position: absolute;
	height: 100%;
	top: 0px;
	width: 36px;
	text-align: center;
	font-size: 18px;
	color: #7b8994;
}

.direction-caret-container--left {
	left: 0;
}

.direction-caret-container--right {
	right: 0;
}

.direction-caret {
	top: 50%;
	position: relative;
	cursor: pointer;
}

a:link {
    text-decoration: none;
    color: #7b8994;
}

a:visited {
    text-decoration: none;
    color: #7b8994;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

.error {
	margin-top: 50px;
}

.error__image {
    display: block;
    margin: auto;
}

.error__text {
	margin: 20px auto 0px;
	text-align: left;
	max-width: 600px;
}

.error__text__header {
	font-weight: normal;
	margin: 10px 0px;
}

.error__text__body {
	font-size: 16px;
}

.error__text__body a:link {
	color: #2895F1;
	text-decoration: none;
}

.error__text__body a:visited {
	color: #2895F1;
	text-decoration: none;
}

.error__text__body a:hover {
	color: #2895F1;
	text-decoration: none;
}

.error__text__body a:active {
	color: #2895F1;
	text-decoration: none;
}

