<div class="links-column">
	<div class="links-column__container">
		<a ui-sref="list">
			<img ng-src="static/images/dropbox_logo.png" class="dropbox-logo"/>
		</a>
	</div>
</div>

<div class="list-column">
	<div class="list-column__header">
		Personal
	</div>
	<div class="list-column__files">
		<table>
			<tr>
				<th>
					<a href ng-click="setSort('name')">
						Name
						<span ng-show="sortType == 'name' && !sortReverse">
							&#9650;
						</span>
						<span ng-show="sortType == 'name' && sortReverse">
							&#9660;
						</span>
					</a>
				</th>
				<th>
					<a href ng-click="setSort('modified')">
						Modified
						<span ng-show="sortType == 'modified' && !sortReverse">
							&#9650;
						</span>
						<span ng-show="sortType == 'modified' && sortReverse">
							&#9660;
						</span>
					</a>
				</th>
				<th>
					Kind
				</th>
				<!-- empty th for share button (without it, the border is wrong) -->
				<th>
				</th>
			</tr>
			<tr ng-repeat="metadata in metadataList | orderBy:sortType:sortReverse"
				ng-class="selectedFile.name == metadata.name ? 'list-column__files__selected-file' : 'list-column__files__unselected-file'"
				ng-click="setSelected(metadata)"
				ng-mouseenter="setHovered(metadata)" ng-mouseleave="resetHovered()">
				<td>
					<span ng-if="metadata.kind == 'document'">
						<img ng-src="static/images/document_icon.png" class="icon icon--list" />
					</span>
					<span ng-if="metadata.kind == 'image'">
						<img ng-src="{{metadata.thumbnail}}" class="icon icon--list" />
					</span>
					<span class="title-text">
						<a ui-sref="view({filename:metadata.name, metadata:metadata, metadataList: metadataList})">
							{{metadata.name}}
						</a>
					</span>
				</td>
				<td>
					{{metadata.modified | date:'short'}}
				</td>
				<td>
					{{metadata.kind}}
				</td>
				<td>
					<button ng-show="hoveredFile.name == metadata.name || selectedFile.name == metadata.name" class="button--secondary">Share</button>
				</td>
			</tr>
		</table>
	</div>
</div>