<div ng-if="do404" class="error">
	<img ng-src="static/images/404.png" class="error__image" />
	<div class="error__text">
		<h1 class="error__text__header">
			Error (404)
		</h1>
		<p class="error__text__body">
			We can't find the page you're looking for. Check out our 
			<a href="mailto:fish@dropbox.com">Help Center</a>
			and
			<a href="mailto:fish@dropbox.com">forums</a>
			for help, or head back to
			<a ui-sref="list">home</a>.
		</p>
	</div>
</div>
<div ng-if="!do404" class="view">
	<div class="view__header">
		<img ng-if="metadata.kind == 'document'" ng-src="static/images/document_icon.png" class="icon icon--view" />
		<img ng-if="metadata.kind == 'image'" ng-src="static/images/image_icon.png" class="icon icon--view" />
		<span class="view__title">
			{{metadata.name}}
		</span>
		<span class="view__header__button-container">
			<a ui-sref="list" class="close">
				&#10005;
			</a>
			<button class="button--secondary">Open</button>
			<button class="button--primary">Share</button>
		</span>
	</div>
	<div class="view__body">
		<div ng-if="metadata.kind == 'document'" ng-bind-html="imagePathOrDocumentContents" class="view__body__text-container">
		</div>
		<div ng-if="metadata.kind == 'image'" class="view__body__image-container">
			<span ng-if="prevImage" class="direction-caret-container direction-caret-container--left">
				<span class="direction-caret">
					<a ui-sref="view({filename:prevImage.name, metadata:prevImage, metadataList: metadataList})">&lt;</a>
				</span>
			</span>
			<!-- Empty span required to center image vertically -->
			<span class="view__body__image-container__helper"></span>
			<img ng-src="{{imagePathOrDocumentContents}}" class="view__body__image-container__image" />
			<span ng-if="nextImage" class="direction-caret-container direction-caret-container--right">
				<span class="direction-caret">
					<a ui-sref="view({filename:nextImage.name, metadata:nextImage, metadataList: metadataList})">&gt;</a>
				</span>
			</span>
		</div>
	</div>
</div>